@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
  font-family: 'Monocraft';
  src: url('../fonts/Monocraft.otf') format('truetype');
}

:root {
  /* Colors */
  --primary-color: #75b8c8;
  --secondary-color: #FFFFFF;
  --accent1-color: #2e2c2f;
  --accent2-color: #dc493a;

  /* Fonts */
  --heading-font: Monocraft;
  --paragraph-font: Roboto, Helvetica, sans-serif;

  /* Text Colors */
  --headline-color-on-white: var(--primary-color);
  --headline-color-on-color: white;
  --paragraph-color-on-white: var(--primary-color);
  --paragraph-color-on-color: var(--secondary-color);

  /* Background Colors */
  --paragraph-background-color: var(--accent2-color);
  --nav-link-color: var(--secondary-color);
  --nav-background-color: var(--accent1-color);
  --nav-hover-link-color: white;
  --nav-hover-background-color: var(--accent2-color);
}

body {
    font-family: var(--paragraph-font);
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('images/background.png') no-repeat center center;
    background-size: cover;
    filter: blur(8px);
    z-index: -1;
}

.content {
    margin-top: 4em; /* Adjust based on the height of the header */
    padding: 2em;
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
}

.header-container {
    display: flex;
    align-items: center;
    background-color: var(--accent1-color);
    padding: 1em;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.logo {
    width: 100px;
    height: 100px;
    margin-right: 1em;
    box-shadow: 0 0 15px var(--primary-color);
}

header h1 {
    flex-grow: 1;
    margin: 0;
}

nav {
    background-color: var(--nav-background-color);
    line-height: 3em;
    text-align: center;
    font-size: 1.2em;
    padding-right: 20%;
}

nav a {
    padding: 1em;
    min-width: 120px;
    text-decoration: none;
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

.main-video-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 1em;
    width: 100%;
    box-shadow: 0 0 15px var(--primary-color);
    margin-top: 2em;
}

.main-video {
    flex: 1;
    text-align: center;
    background-color: var(--secondary-color);
    padding: 1em;
}

.main-video iframe {
    width: 100%;
    height: 400px;
}

.video-list-container {
    width: 30%;
    max-height: 500px;
    overflow-y: scroll;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    color: var(--accent1-color);
}

.video-list-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.video-list-container li {
    padding: 1em;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.video-list-container li:hover {
    background-color: #f0f0f0;
}

.video-filters {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

.video-filters button {
    margin: 0 1em;
    padding: 0.5em 1em;
    cursor: pointer;
}

#behind-the-scenes {
    width: 80%;
    margin: 2em 0;
}

.media-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.media-gallery img, .media-gallery video {
    width: calc(33.333% - 1em);
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--headline-color-on-white);
}

p.colored {
    background-color: var(--paragraph-background-color);
    color: var(--paragraph-color-on-color);
}

p {
    padding: 1em;
    margin: 0 auto;
    max-width: 80%;
    font-size: large;
}

p#behind-the-scenes-intro {
    margin-top: 10em;
}

#gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1em;
}

figure {
    background-color: white;
    border: 2px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.gallery-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

figcaption {
    padding: 0.5em;
    text-align: center;
    font-style: italic;
    color: var(--accent1-color);
}

@media (max-width: 800px) {
    .main-video-container {
        padding-top: 4em;
        flex-direction: column;
    }

    .video-list-container {
        width: 100%;
        max-height: none;
        margin-top: 1em;
    }

    .header-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo {
        display: none;
    }

    header h1 {
        margin-bottom: 0.5em;
    }

    nav {
        line-height: 2em;
        text-align: left;
        padding: 0;
        width: 100%;
    }

    nav a {
        display: block;
        padding: 1em;
        text-decoration: none;
        color: var(--nav-link-color);
        text-align: center;
    }

    nav a:hover {
        color: var(--nav-hover-link-color);
        background-color: var(--nav-hover-background-color);
    }

    p#behind-the-scenes-intro {
        margin-top: 15em;
    }
}
