.content
{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    border: 1px solid black;
    padding-top: 50px;
    width: 750px;
    margin: 0 auto;
}

.title
{
    text-align: center;
    text-transform: uppercase;
}

.title h1
{
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 3px;
}

.title h2
{
    font-size: 11pt;
    font-weight: 500;
    letter-spacing: 1.75px;
    color: #006eb6;
}

main
{
    font-size: 12pt;
    max-width: 480px;
    line-height: 1.5;
    margin: 0 auto;
    padding-top: 25px;    
    border-top: 1px solid lightgrey;
}

li
{
    padding-bottom: 15px;
}

.mission-list
{
    padding-left: 30px;
}

.logo
{
    display: block;
    width: 130px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 50px;
}

.dark
{
    background-color: #333;
    color: white;
}

.dark .content
{
    border-color: white;
}

.dark .title h2
{
    color: rgb(160, 212, 237);
}
